<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') %>
  <body>
    <main class="mainContent">
          <!-- Only streaks are higher then 0 info is saved -->
          <!-- If no streaks there is a display message -->

      <h1>Leaderboards</h1>
      <% if (leaderboards.length > 0) { %>
      <table class="leaderboardTable">
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Streak</th>
          <th>Date Recorded</th>
        </tr>
        <% leaderboards.forEach((record, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= record.name %></td>
          <td><%= record.streak %></td>
          <td><%= record.dateRecorded %></td>
        </tr>
        <% }); %>
      </table>
      <% } else { %>
      <p>No streaks have been recorded</p>
      <% } %>

      <a href="/" class="homeLink">Return to Home</a>
    </main>
  </body>
</html>
